# Maven build output
/target/

# TestNG reports
/test-output/

# Eclipse project files
.classpath
.project
.settings/

# IntelliJ IDEA project files (if you ever open in IntelliJ)
/.idea/
*.iml

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

#report in index.html
/reports/

#screenshots
/screenshots/