<suite name="GridSuite" parallel="tests" thread-count="2">

    <test name="Test1">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <test name="Test2">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

</suite>